{% extends 'home/base.html' %}

{% block content %}
<h4 style="text-align: center;">Add Vehicle Category</h4>
<div class="container mt-4" style="text-align:center;">
  <form method="POST" class="mt-3">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.name.id_for_label }}">Vehicle Category Name</label>
      {{ form.name }}
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
<hr>
<h5 style="text-align: center;">Vehicle Category List</h5>
<table class="table table-bordered table-dark mt-3" style="text-align: center;">
              <thead class="bg-primary text-white">

    <tr>
    <td>Category Name</td>
        <td>Actions</td></tr>
    </thead>
    <tbody>
    {% for category in vehicle_categories %}
<tr>
    <td>{{ category.name }}</td>
    <td><a href="{% url 'delete_vehicle_category' category.id %}"><button class="btn btn-danger"  onclick="return confirm('Are you sure you want to delete This Category?');">Delete</button></a></td></tr>
    {% empty %}
        <h6 style="text-align: center; color:red;">No vehicle categories added yet.</h6>
    </tbody>
    {% endfor %}
</table>
{% endblock %}